button.date-datepicker-button:after {
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.4em 0.4em 0em 0.4em;
  border-color: black transparent transparent transparent;
  margin-left: 0.7em;
  margin-bottom: 0.2em;
  vertical-align: middle;
}

.csstransitions div.date-calendar-dialog.date-closed {
  -moz-transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  -ms-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  opacity: 0;
}

.csstransitions div.date-calendar-dialog.date-open {
  -moz-transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  -ms-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  opacity: 1;
}